/* Colors */
:root{
    --primary: #606c38;
    --secondary: #283618;
    --third: #fefae0;
    --fourth: #dda15e;
    --fifth: #bc6c25;
    --shadow: rgba(0, 0, 0, 0.705);
}
/* set up */
*{
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior:smooth;
}
/* background image*/
body{
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}
/* main background color */
#background{
    margin:auto;
    width:90%;
    background-color: var(--secondary);
}
/* Name */
h1{
    font-family: monospace;
    font-size: 1500%;
    color: var(--third);
    text-align: center;
    text-shadow: 0.4rem 0.4rem 0.4rem var(--shadow);
    padding: 10px;
    margin-top: 6rem;
}
/* navbar */
nav{
    margin-top: 2rem;
    position: fixed;
    top:0;
    width:80%;
    z-index: 1;
}
/* list items */
ul{
    background-image: url(../images/waterfall-trail-6156770_960_720.png);
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    float:right;
    padding: 2rem
}
/* navbar elements*/
li{
    display:inline;
    font-family: monospace;
    text-decoration: none;
    margin-right: 1rem;

}
/* navbar text */
.nav-bar{
    text-decoration: none;
    color: var(--third);
    text-shadow: 0.2rem 0.2rem 0.2rem var(--shadow);
    font-size: 200%;
    transition: all 1.5s ease-in-out;
}
/* animation for navbar hover */
.nav-bar:hover{
    color: white;
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
    font-size: 225%;
}
/* picture container */
figure{
    margin-top: 5%;
}
/* picture of me */
figure img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    clip-path: circle(40%);
    
}
/* picture of me text */
figure figcaption{
    font-family: monospace;
    font-size: 300%;
    color:var(--third);
    text-shadow: 0.1rem 0.1rem 0.3rem var(--shadow);
    text-align: center;
}
/* about section */
#about-section{
    margin-right:auto;
    margin-left:auto;
    margin-top: 20%;
    text-align: center;
    width:80%;
}
/* about section title */
h2{
    padding: 1rem;
    font-family: monospace;
    margin:10px;
    font-size: 500%;
    color: var(--third);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
}
/* about section small text */
#about-section p{
    padding: 1rem;
    font-family: monospace;
    color: var(--third);
    font-size:300%;
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
}
/* spotlight section */
#spotlight-section{
    margin-top: 20%;
}
/* spotlight image */
#spotlight-image{
    margin-right:auto;
    margin-left:auto;
    display:block;
    width:60%;
    border-radius: 1rem;
    border:solid var(--fifth);
    transition: all 1s ease-in-out;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
}
/* spotlight image highlight animation */
#spotlight-image:hover{
    width:70%;
    border: solid var(--primary);
}
/* spotlight header text */
#spotlight-section h3{
    color: var(--third);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
    text-align: center;
    padding:3rem;
    font-family:monospace;
    font-size:400%;
}
/* spotlight footer text */
#spotlight-section p{
    color: var(--third);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
    padding: 2rem;
    font-family: monospace;
    font-size: 250%;
    text-align: center;
}
/* row with tree and website */
#projects-section section{
    margin-top:20%;
    display:flex;
    justify-content: space-around;
}
/* single tree image */
.tree{
    width:80%;
}

/* project images */
.link-images{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width:80%;
    border-radius: 1rem;
    border:solid var(--fifth);
    transition: all 1s ease-in-out;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
}
/* project images hover animation */
.link-images:hover{
    width:90%;
    border: solid var(--primary);
}

/* project header text */
#projects-section section div h3{
    color: var(--third);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
    text-align: center;
    padding:2rem;
    font-family:monospace;
    font-size:300%;
}
/* project footer text */
#projects-section section div p{
    text-align: center;
    color: var(--third);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
    padding: 1.5rem;
    font-family: monospace;
    font-size: 175%;
}


/* filler trees */
.forest-filler{
    margin-top: 10%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

