/* Colors */
:root{
    --primary: #606c38;
    --secondary: #283618;
    --third: #fefae0;
    --fourth: #dda15e;
    --fifth: #bc6c25;
    --shadow: rgba(0, 0, 0, 0.705);
}
/* set up */
*{
    box-sizing: border-box;
    font-size: 100%;
}
/* background */
body{
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}
#background{
    margin:auto;
    width:90%;
    background-color: var(--secondary);
}
/* Name */
h1{
    font-family: monospace;
    font-size: 1500%;
    color: var(--third);
    text-align: center;
    text-shadow: 0.4rem 0.4rem 0.4rem var(--shadow);
    padding: 10px;
    margin-top: 6rem;
}
/* navbar */
nav{
    margin-top: 2rem;
    position: fixed;
    top:0;
    width:80%;
    z-index: 1;
}
/* list items */
ul{
    background-image: url(../images/waterfall-trail-6156770_960_720.png);
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    float:right;
    padding: 2rem
}
/* navbar elements*/
li{
    display:inline;
    font-family: monospace;
    text-decoration: none;
    margin-right: 1rem;

}
/* navbar text */
.nav-bar{
    text-decoration: none;
    color: var(--third);
    text-shadow: 0.2rem 0.2rem 0.2rem var(--shadow);
    font-size: 200%;
    transition: all 1.5s ease-in-out;
}
/* animation for navbar hover */
.nav-bar:hover{
    color: white;
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
    font-size: 225%;
}
/* picture container */
figure{
    margin-top: 5%;
}
/* picture of me */
figure img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    clip-path: circle(40%);
    
}
/* picture of me text */
figure figcaption{
    font-family: monospace;
    font-size: 300%;
    color:var(--third);
    text-shadow: 0.1rem 0.1rem 0.3rem var(--shadow);
    text-align: center;
}
/* about section */
#about-section{
    margin-right:auto;
    margin-left:auto;
    margin-top: 60%;
    text-align: center;
    width:60%;
}
/* about section title */
h2{
    font-family: monospace;
    margin:10px;
    font-size: 500%;
    color: var(--third);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
}
/* about section small text */
#about-section p{
    font-family: monospace;
    color: var(--third);
    text-shadow: 0.3rem 0.3rem 0.3rem var(--shadow);
}

/* spotlight image */
#spotlight-image{
    margin-top: 50%;
    margin-right:auto;
    margin-left:auto;
    display:block;
    width:60%
}
/* project images */
.link-images{
    margin-top:100%;
    display:block;
    width:40%;
}
